
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  background-color: #0d1117;
  color: white;
}

form {
  width: 450px;
}

form input {
  padding: 10px 5px;
}

.topsec {
  text-align: center;
}

.topsec h1{
  font-size: 2.5em;
}


button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #1157c1;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

button:hover {
  background-color: #190393;
  transform: translateY(-3px);
}

.card {
  width: 500px;
  border: 2px solid #1f242d;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 25px;
  align-items: center;
  background-color: #0f1319;
}

.profile {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
  background: #2a2f3b;
}

.profile img {
  width: 100%;
}


.detailsec h2 {
  margin-bottom: 5px;
  font-size: 20px;
}

.pp {
  font-size: 14px;
  color: #9d9e9e;
}

.deep {
  margin-top: 5px;
  display: flex;
  gap: 15px;
  font-size: 13px;
  color: #c7c7c7;
}

.profile img {
  height: 100%;
  width: 100%;
}

@media (max-width: 480px) {
  form { width: 300px; }

  .card {
    width: 90%;
    flex-direction: column;
    text-align: center;
  }
}




